@model Trip
@{ 
    ViewData["Title"] = "Add Trip - Page 2";
    TempData["CurrentPage"] = 2;
}
@if (TempData.Peek("Accommodation") != null)
{
    @section SubHead
    {
        <h2>Add Info for @TempData.Peek("Accommodation")</h2>
    }
}

<form asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="AccommodationPhone">Phone Number</label>
        <input asp-for="AccommodationPhone" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AccommodationEmail">Email Address</label>
        <input asp-for="AccommodationEmail" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary" asp-action="Add" asp-route-id="3">Next</button>
    <a asp-action="Cancel" class="btn btn-primary">Cancel</a>
</form>